
body {
    background-color: lightyellow;
}

.todo-list {
    background-color: aquamarine;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill,40%);
    display: inline-grid;
    justify-items: center;
    column-gap:50px;
    row-gap: 50px;
    border-style : double;
    border-radius: 3%;
    width: 60px;
}

.spalte1{
    grid-column-start: 2;

}

.spalte2{
    grid-column-start: 3;


}

.spalte3{
    grid-column-start: 4;


}





.header{
    grid-row-start: 1 ;
    grid-column-start: 2;
    font-size: 16px;
    font-family: Helvetica;
    text-align: center;
    color: green;
}


